name: flutter_tencentad
description: A flutter plugin for TencentAD.It is convenient for Android and IOS to directly call the method and native view of advertisement SDK.
version: 1.0.2
homepage: https://github.com/gstory0404/flutter_tencentad

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  plugin:
    platforms:
      android:
        package: com.gstory.flutter_tencentad
        pluginClass: FlutterTencentadPlugin
      ios:
        pluginClass: FlutterTencentadPlugin

